hello-world/dist/
hello-world/www/
hello-world/loader/

hello-world/*~
hello-world/*.sw[mnpcod]
hello-world/*.log
hello-world/*.lock
hello-world/*.tmp
hello-world/*.tmp.*
hello-world/log.txt
hello-world/*.sublime-project
hello-world/*.sublime-workspace

hello-world/.stencil/
hello-world/.idea/
hello-world/.vscode/
hello-world/.sass-cache/
hello-world/.versions/
hello-world/node_modules/
hello-world/$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
